<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="/static/style.css" rel="stylesheet" >
    <title>WeatherMan App</title>
</head>
<body>
    <h2> Horizontal Chart</h2>
    {% if data %}
        {% for day in data %}
            <div class="bg">
                <p >Day: {{ day['date'] }} </p>
                {% for count in range(day['max_temp']) %}
                    <li class="max_temp">+</li>
                {% endfor %}
                {% for count in range(day['min_temp']) %}
                    <li class="min_temp">+</li>
                {% endfor %}
                <p> {{ day['min_temp'] }}&deg;C-{{day['max_temp']}}&deg;C</p>
            </div>
            <br>
        {% endfor %}
    {% endif %}
</body>
</html>
