<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="/static/style.css" rel="stylesheet" >
    <title>WeatherMan App</title>
</head>
<body>
    <h1>Sign Up</h1>
    <div class="center">
        <form method="post" action="{{ url_for("reading_bp.signup")}}"> 
            <input type="text" name="username" value="{{username}}" placeholder="Enter username">
            <input type="password" name="password" value="{{password}}" placeholder="Enter password">
            <button onclick="location.href = '/weather/login/'" class="button-9" type="submit">Submit</button>
        </form>

    </div>   
</body>
</html>