<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="/static/style.css" rel="stylesheet" >
    <title>WeatherMan App</title>
</head>
<body>
    <h2> Vertical Chart</h2>
    {% if data %}
            {% for day in data %}
                <div class="outer-div">
                    <div class="chart-container">
                        <p class="day-text"> Day {{day['date']}}</p>
                        <canvas class="red-bar-chart" width="500" height="30" max_temp="{{ day['max_temp'] }}"></canvas>
                        <br>
                        <canvas class="blue-bar-chart" width="500" height="30" min_temp="{{ day['min_temp'] }}"></canvas>
                    </div>
                    <br>
                </div>
            {% endfor %}
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="{{ url_for('static', filename='vertical_chart.js')}}"></script>
        {% endif %}
</body>
</html>
